body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input{
    padding-left: 0px;
}

.navbar-inverse {
    background-color: indigo;
}

textarea {
    max-width: 1000px;
    font-size:12px;
}

table {
    max-width: 100%;
    font-size:12px;
}

.table tbody>tr>td {
    padding: 3px;
}

#phylocanvas {
    height: 1000px;
    width: 1140px;
}

#current_tree {
    color: indigo;
}

.jumbotron h1 {
    color: indigo;
}

h2 {
    color: indigo;
}

a {
    color: indigo;
}

#sample_guid {
    max-width: 500px;
}

#annotation_id #annotation_detail {
    visibility: hidden;
}

.annotation_hidden {
    visibility: hidden;
}

#mapid {
    height: 700px;
    width: 650px;
}

.alert{
    background-color:white;
    color: indigo;
}

.alert-success {
    background-color: indigo;
    color: white;
}

.btn-danger {
    background-color: indigo;
}

#tree_display {
    width: 1080px;
    height: 800px;
    background-color: ghostwhite;
}

#sample_id_tree {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
.matrix-diagonal {
    background-color: lightgrey
}

#sample_id_tree {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
