{% extends "base.template" %}

{% block content %}
<div class="jumbotron">
    <h1>ViewBovine</h1>
    <p class="lead">ViewBovine is a Web Portal for exploring WGS data of M.bovis, linking genetic relatedness with geographical neighbourhood for understanding bTB transmission.</p>
</div>
<div class="container">
    <h2>Terminology</h2>
    <p><strong>WGS</strong> - Whole Genome Sequencing</p>
    <p><strong>DNA</strong> - Deoxyribonucleic Acid, the molecule that is the hereditary material in all living cells</p>
    <p><strong>ACGT</strong> - an acronym for the four types of bases found in a DNA molecule: adenine (A), cytosine (C), guanine (G), and thymine (T).</p>
    <p><strong>Genome</strong> - the genetic material of an organism. It consists of DNA (or RNA in RNA viruses).</p>
    <p><strong>SNPs </strong>- Single nucleotide polymorphisms, frequently called SNPs (pronounced “snips”). Each SNP represents a difference in a single DNA building block, called a nucleotide. Most commonly, these variations are found in two different DNA. </p>
    <p><strong>SNP Based Clustering</strong> - The simplest way to determine sequence relatedness is to count the number of SNPs that differ between two sequences. The SNP threshold approach places two individuals in the same putative transmission cluster if there are fewer than a threshold number of SNPs between their sequenced pathogen genomes.</p>
    <h2>Genome Analysis</h2>
    <p>Genome analysis of bacteria like tuberculosis has the potential to radically improve the detection of disease transmission [1]. Single Nucleotide Polymorphism (SNP) analysis is a common initial step to rapidly detect the relationships between sequences of bacteria species. Bacteria, like tuberculosis, has a genome size about four megabases. The SNP analysis involves aligning the sequence reads on each individual bases and identifying a consensus base at each position. Genetic relatedness can be defined by the SNP distance, i.e. how many bases are different between two bacteria genome. In some cases, the SNP analysis is sufficient to generate epidemiologically important information. In other cases, phylogenetic tree based on the evolutionary inference are also needed to adjust estimates of divergence [2]. In our tool, we present SNP distance to show the genetic relatedness of M. bovis samples. </p>
    <h2>i-score</h2>
    <p>I-score is short for Interesting Score. We dive into all the samples (>8000), looking for sample pairs, which are far apart in Miles but close in SNPs. </p>
    <p>Following histogram shows the i-score distribution of all sample pairs.</p>
    <img src="/static/i-score.png"/>
    <h2>Publication</h2>
    <ul>
    <li>Fan Yang-Turner, Denis Volk, Tony Roberts, Juan Herreros, Richard Ellis, Tim Peto. (2020) <strong>ViewBovine</strong>: A Microservices-powered Web Application to Support Interactive Investigation of Bovine Tuberculosis Infection Pathways. IEEE Services 2020</li>
    </ul>
    <h2>Reference</h2>
    <ol>
        <li>Mazariegos-Canellas, O., Do, T., Peto, T. et al. (2017) BugMat and FindNeighbour: command line and server applications for investigating bacterial relatedness. BMC Bioinformatics 18, 477 (2017)</li>
        <li>Walker TM, Monk P, Smith EG, Peto TE. (2013). Contact investigations for outbreaks of mycobacterium tuberculosis: advances through whole genome sequencing. Clin Microbiol Infect. 2013;19(9):796–802 </li>
        <li>Eyre DW, Cule ML, Wilson DJ, Griffiths D, Vaughan A, O'Connor L, Ip CL, Golubchik T, Batty EM, Finney JM, et al. (2013). Diverse sources of C. Difficile infection identified on whole-genome sequencing. New England Journal of Medicine. 2013; 369(13):1195–1205 </li>
	
    </ol>
</div>

{% endblock content %}
