{% extends "base.template" %}

{% block content %}
<div class="jumbotron">
    <h1>ViewBovine</h1>
    <p class="lead">ViewBovine is a Web Portal for exploring WGS data of M.bovis, linking genetic relatedness with geographical neighbourhood for understanding bTB transmission.</p>
</div>
{% endblock content %}
