<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/scripts/underscore-min-1.8.3.js" charset="utf-8"></script>
    <link href="/static/css/leaflet.css" rel="stylesheet"/>
    <link href="/static/css/phylotree.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <script src="/static/scripts/leaflet.js"></script>
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/c3.min.css" rel="stylesheet"/>
    <link href="/static/css/site.css" rel="stylesheet"/>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ViewBovine</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/sample">Search</a></li>
            <li><a href="/samplelist">Sample</a></li>
            <li><a href="/herd">Herd</a></li>
            <li><a href="/treelist">Phylogeny</a></li>  
            <li><a href="/cluster">Cluster</a></li>
            <li><a href="/subcluster">SubCluster</a></li>             
            <li><a href="/about">About</a></li>         
	        </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/upload">Upload</a></li>     
	          <li><a href="/logout">Log off</a></li>
 	        </ul>
	      </div>
      </div>
    </div>
    <div class="container body-content">

      {% block content %}
      {% endblock content %}

      {% block scripts %}
      {% endblock scripts %}

      <hr />
      <footer>
        <p>Version {{ version }}. Developed by Fan&Denis &copy; 2019 - Modernising Medical Microbiology, Nuffield Department of Medicine, University of Oxford</p>
      </footer>
    </div>
    
  </body>

</body>
</html>
