{% extends "base.template" %}

{% block content %}

<div class="container body-content">
    <h2>Herd Sample Genetic Matrix</h2>
    <form action="/herd" data-ajax="true" id="form_herd" method="get">    
    <div class="row">
        <span class="col-md-6">Search a herd (via cphh [<strong>C</strong>]ounty [<strong>P</strong>]arish [<strong>H</strong>]olding [<strong>H</strong>]erd number, e.g. 06071000301)</span>
        <span><input size=9 class="form-input col-md-4", name="id" value=></span>
        <span class="col-md-3"><input type="submit" value="Search Herds" id="search_submit" class="btn btn-danger" /></span>
    </div>
    </form>
    <hr />
    <div class="row">
        <div class="container">
        <h4>Single Nucleotide Polymorphism (SNP) Distance Matrix</h4>

        <h6>Found herd: <strong>06071000301</strong>. There are <strong>2</strong> samples in the herd.</h6>
        <hr />
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:120px"></th>
                        <th style="text-align:center; vertical-align: middle;">AF-12-00009-18</th>
                        <th style="text-align:center; vertical-align: middle;">AF-12-00008-18</th>
                </tr>
            </thead>
            <tbody>
            {% for row in herd_matrix %}
                <tr>
                {% for sample in herd_matrix %}
                    <td>{{ sample[]}}
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock content %}
