{% extends "base.template" %}

{% block content %}

<div class="container body-content">

    <h2>Genetic Related Samples</h2>
    <form action="/Samples/Map" method="post">
        <input type="submit" value="Show all results" id="search_submit" class="btn-link pull-right" />
        <h6>Sample Name: <strong><span id="name">{{ sample_name }}</span></strong></h6>
        <h6>Sample Id: <span id="guid">{{ sample_id }}</span></h6>
        <input type="text" class="form-input hidden" name="id" id="sample_name" value={{ sample_name }} />
    </form>
    <div class="pull-right">
        <a class="btn-primary btn" href="/sample/neighbour/?sample_guid={{ sample_id }}">Genetic Related</a>
    </div>

    <h6>Ear Tag: <strong><span id="eartag">{{ eartag }}</span></strong></h6>
    <form action="/Herd" method="post">
        <h6>
            Herd: <input type="text" , class="form-input hidden alert-link" name="id" id="herd_id" value={{ herd_id }} />
            <input type="submit" value={{ herd_id }} id="herd_search" class="btn-link" />
        </h6>
    </form>
    <h6>
        Location: <span id="map_x">{{ map_x }},</span><span id="map_y"> {{ map_y }} </span>
    </h6>
    <hr />
    <div>
        <hr />
        <div>
            <form action="/Neighbour/Index/b1460e0f-3ab8-4d08-a885-4fcd67078fb9" data-ajax="true" id="form0" method="post">
                <div class="row">
                    <input class="form-input hidden" data-val="true" data-val-required="The SampleId field is required." id="SampleId"
                        name="SampleId" size="5" type="text" value="b1460e0f-3ab8-4d08-a885-4fcd67078fb9" />
                    <span class="col-md-2">AGCT % (eg. 80)</span><span> <input class="form-input col-md-1" data-val="true"
                            data-val-number="The field Quality must be a number." data-val-required="The Quality field is required."
                            id="Quality" max="90" min="60" name="Quality" size="2" type="number" value="80" /></span>
                    <span class="col-md-2">SNP Distance (eg. 6)</span><span> <input class="form-input col-md-1" data-val="true"
                            data-val-number="The field Distance must be a number." data-val-required="The Distance field is required."
                            id="Distance" max="50" min="0" name="Distance" size="5" type="number" value="6" /></span>
                    <span class="col-md-2"><input type="submit" value="Search Genetic Related Samples" id="search_submit" class="btn btn-primary" /></span>
                </div>
            </form>
            <br />
        </div>
        
        <div class="row">
            <div id="table_col" class="col-md-5">
                <h4>Please set ACGT% and SNP distance to search genetic related samples.</h4>
            </div>
            <div id="map_col" class="col-md-7">
                <p class="pull-right btn-link" id="view_toggle" onclick="switch_view();">Hide Table</p>
                <div id="mapid"></div>
                <p class="hidden">
                    <span id="guid">AF-12-00008-18</span>
                    <span id="name">b1460e0f-3ab8-4d08-a885-4fcd67078fb9</span>
                </p>
            </div>
        </div>

        {% endblock content %}