{% extends "base.template" %}

{% block content %}

<div class="container body-content">

  <h2>Genetic Related Samples</h2>
  <form action="/Samples/Map" method="post">
    <input type="submit" value="Show all results" id="search_submit" class="btn-link pull-right" />
    <h6>Sample Name: <strong><span id="name">{{ sample_name }}</span></strong></h6>
    <h6>Sample Id: <span id="guid">{{ sample_guid }}</span></h6>
    <input type="text" class="form-input hidden" name="id" id="sample_name" value={{ sample_name }} />
  </form>
  <div class="pull-right">
    <a class="btn-primary btn" href="/sample/neighbour/?sample_guid={{ sample_guid }}">Genetic Related</a>
  </div>

  <h6>Ear Tag: <strong><span id="eartag">{{ eartag }}</span></strong></h6>
  <form action="/Herd" method="post">
    <h6>
      Herd: <input type="text" , class="form-input hidden alert-link" name="id" id="herd_id" value={{ herd_id }} />
      <input type="submit" value={{ herd_id }} id="herd_search" class="btn-link" />
    </h6>
  </form>
  <h6>
    Location: <span id="map_x">{{ map_x }},</span><span id="map_y"> {{ map_y }} </span>
  </h6>
  <hr />
  <div>
    <div>
      <form action="/sample/neighbour" data-ajax="true" id="form0" method="get">
        <div class="row">
          <input class="form-input hidden" data-val="true" id="SampleId" 
            name="sample_guid" size="5" type="text" value="{{ sample_guid }}" />
          <span class="col-md-2">AGCT % (eg. 80)</span><span> <input class="form-input col-md-1" data-val="true"
						data-val-number="The field Quality must be a number." data-val-required="The Quality field is required."
						id="Quality" max="90" min="60" name="quality" size="2" type="number" value="80" /></span>
          <span class="col-md-2">SNP Distance (eg. 6)</span><span> <input class="form-input col-md-1" data-val="true"
						data-val-number="The field Distance must be a number." data-val-required="The Distance field is required."
						id="Distance" max="50" min="0" name="distance" size="5" type="number" value="6" /></span>
          <span class="col-md-2"><input type="submit" value="Search Genetic Related Samples" id="search_submit" class="btn btn-primary" /></span>
        </div>
      </form>
      <br />
    </div>
    
    <div class="row">
      <div id="table_col" class="col-md-5">
	{% if neighbours|length == 0 %}
        <h4>Please set ACGT% and SNP distance to search genetic related samples.</h4>
      {% endif %}
      {% if neighbours %}
        <h4 id="sample_guid_result"><strong> {{ neighbours|length }} </strong> neighbour(s) found, in <strong>HERD COUNT</strong> herd.</h4>
          <h5>HERD COUNT SAME neighbour(s) are in the same herd.</h5>
          <table class="table table-striped tablesorter" id="sample_table">
          <thead>
            <tr>
              <th><a href="#">#</a></th>
              <th><a href="#">Herd </a></th>
              <th><a href="#">Name</a>
              </th>
              <th><a href="#">Map </a></th>
              <th><a href="#">Distance</a></th>
              <th><input type="checkbox"  id="check_all" onclick="check_all();" /></th>
            </tr>
          </thead>
          <tbody>
            {% for neighbour in neighbours %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ neighbour[4] }}</td>
              <td id='name_{{ neighbour[0] }}'>{{ neighbour[0] }}</td>
              <td><div id="mapx_{{ neighbour[0] }}">{{ neighbour[2] }}</div> <br> <div id="mapy_{{ neighbour[0] }}">{{ neighbour[3] }}</div></td>
              <td><span id="distance_{{ neighbour[0] }}">{{ neighbours_dict[neighbour[0]] }}</span></td>
              <td><input type="checkbox" class="sample_tick" id='{{ neighbour[0] }}'/></td>
            </tr>
            {% endfor %}
	  </tbody>
	</table>
	{% endif %}
      </div>
      <div id="map_col" class="col-md-7">
        <p class="pull-right btn-link" id="view_toggle" onclick="switch_view();">Hide Table</p>
        <div id="mapid"></div>
        <p class="hidden" >
          <span id="guid" >{{ sample_guid }}</span>
          <span id="name">{{ sample_name }}</span>
        </p>

        <h3>Co-habitation Record</h3>
        <hr />
	{% for k,vs in cohab.items() %}
        <h4>{{ k }}</h4>
        <a class="btn-link pull-right" id="show{{ k }}" onclick="Show_cohabit_detail(show{{ k }});">Show Detail</a>
	<div>
	  {{ cohab_figures[k] }}
	</div>
        <div class="hidden" id="{{ k }}" style="background-color:#f9f9f9 ">
          {% for v in vs %}
          <br />
          <p style="margin-left:50px"><span>BreakId</span>:  <span><strong>{{ v['BreakId'] }}</strong></span></p>
          <p style="margin-left:50px"><span>CPH</span>:  <span><strong>{{ v['CPH'] }}</strong></span></p>
          <p style="margin-left:50px"><span>Culture</span>:  <span><strong>{{ v['Culture'] }}</strong></span></p>
          <p style="margin-left:50px"><span>Distance</span>:  <span><strong>{{ v['Distance'] }}</strong></span></p>
          <p style="margin-left:50px"><span>EndDate</span>:  <span><strong>{{ v['EndDate'] }}</strong></span></p>
          <p style="margin-left:50px"><span>Herd</span>:  <span><strong>{{ v['Herd'] }}</strong></span></p>
          <p style="margin-left:50px"><span>LocationId</span>:  <span><strong>{{ v['LocationId'] }}</strong></span></p>
          <p style="margin-left:50px"><span>LocationKey</span>:  <span><strong>{{ v['LocationKey'] }}</strong></span></p>
          <p style="margin-left:50px"><span>LocationName</span>:  <span><strong>{{ v['LocationName'] }}</strong></span></p>
          <p style="margin-left:50px"><span>MapRef</span>:  <span><strong>{{ v['MapRef'] }}</strong></span></p>
          <p style="margin-left:50px"><span>PostCode</span>:  <span><strong>{{ v['PostCode'] }}</strong></span></p>
          <p style="margin-left:50px"><span>SampleName</span>:  <span><strong>{{ v['SampleName'] }}</strong></span></p>
          <p style="margin-left:50px"><span>StartDate</span>:  <span><strong>{{ v['StartDate'] }}</strong></span></p>
          <p style="margin-left:50px"><span>StayLength</span>:  <span><strong>{{ v['StayLength'] }}</strong></span></p>
          <p style="margin-left:50px"><span>X</span>:  <span><strong>{{ v['X'] }}</strong></span></p>
          <p style="margin-left:50px"><span>Y</span>:  <span><strong>{{ v['Y'] }}</strong></span></p>
          <p style="margin-left:50px"><span>vLocationId</span>:  <span><strong>{{ v['vLocationId'] }}</strong></span></p>
	  {% endfor %}
        </div>
	{% endfor %}

      </div>
    </div>
    {% endblock content %}

    {% block scripts %}
      <script src="/static/scripts/app/samples.js"></script>
      <script src="/static/scripts/app/neighbour.js"></script>
      <script src="/static/scripts/app/geotools.js"></script>
      <script src="/static/scripts/app/map.js"></script>
      <script src="/static/scripts/leaflet.polylineDecorator.js"></script>
      <script src="/static/scripts/jquery.tablesorter.js"></script>
{% endblock scripts %}
    
