
{% extends "base.template" %}

{% block content %}

    <h2>{{ sample_name}}</h2>
    <h4> MTB Reads </h4>
    
    <h4> ACGT Quality </h4>

    {% if quality != '' %}
        <p>{{ quality }}</p>
    {% else %}
        <p> No quality qata found.</p>
    {% endif %}
    
{% endblock content %}
