{% extends "base.template" %}

{% block content %}

<div class="container body-content">     
<h2>Cluster Exploration</h2>
<span>Give a <strong>sample name</strong>, <strong>a cluster SNPs (0-20)</strong> and a <strong>sub-cluster SNPs(0-20)</strong>, explore sub-cluster of a cluster.</span><br/>
<span>e.g. sampel name: AF-21-07824-17, cluster SNPs: 6, sub-cluster SNPs: 6, the result is one cluster of 6 SNPs which includes the sample.</span><br />
<span>e.g. sampel name: AF-21-07824-17, cluster SNPs: 6, sub-cluster SNPs: 3, the result is a few sub-clusters of 3 SNPs within the cluster of 6 SNPs.</span><br />
<span>Cluster SNPs must be equal or greater than sub-cluster SNPs</span>
<hr />
<form action="/subcluster" data-ajax="true" id="form0" >    
<div class="row">
    <span class="col-md-2">Sample Name</span>
    <span><input class="form-input col-md-3" id="SampleName" name="sample_name" 
    type="text" value="{{ sample_name }}" placeholder="Sample Name"/></span>
    <span><input class="form-input col-md-1" data-val="true" data-val-number="The field ClusterDistance must be a number." data-val-required="The ClusterDistance field is required." id="cluster" max="20" min="0" name="distance1" onclick="Validateclusterdistance()" onkeyup="Validateclusterdistance()" size="2" type="number" value="{{ distance_cluster}}" /></span>
    <span><input class="form-input col-md-1" data-val="true" data-val-number="The field SubClusterDistance must be a number." data-val-required="The SubClusterDistance field is required." id="subcluster" max="20" min="0" name="distance2" onclick="Validateclusterdistance()" onkeyup="Validateclusterdistance()" size="2" type="number" value="{{ distance_subcluster}}" /></span>
    <span class="col-md-3"><input type="submit" value="Search Clusters" id="subcluster_submit" class="btn btn-danger" /></span>
</div>
</form>
<div class="row">
        <div id="table_col" class="col-md-5">
            {% include 'clusterdata.template' %}
        </div>
        <div id="map_col" class="col-md-7">
            <p class="pull-right btn-link" id="view_toggle" onclick="switch_view();">Toggle Map</p>
            <div id="mapid"></div>
            <hr />
        </div>
    </div>
{% endblock content %}
{% block scripts %}
      <script src="/static/scripts/app/geotools.js"></script>
      <script src="/static/scripts/app/map.js"></script>
      <script src="/static/scripts/app/neighbour.js"></script>
      <script src="/static/scripts/app/samples.js"></script>
      <script src="/static/scripts/jquery.tablesorter.js"></script>
{% endblock scripts %}